// Copyright 2017 Mathias Bynens. All rights reserved.
// This code is governed by the BSD license found in the LICENSE file.

/*---
author: Mathias Bynens
description: >
  Unicode property escapes `\p{}` and \P{}` for `<%= UnicodePropertyValueExpression %>`
esid: sec-static-semantics-unicodematchproperty-p
features: [regexp-unicode-property-escapes]
---*/

assert(
	/^\p{<%= UnicodePropertyValueExpression %>}+$/u.test(<%= matchSymbols %>),
	"\\p{<%= UnicodePropertyValueExpression %>} doesn't match all proper symbols it should match"
);

<% if (nonMatchSymbols.length > 2) { %>assert(
	/^\P{<%= UnicodePropertyValueExpression %>}+$/u.test(<%= nonMatchSymbols %>),
	"\\P{<%= UnicodePropertyValueExpression %>} doesn't match all proper symbols it should match"
);
<% } %>
